body{
    padding-left: 80px;
}

h1{
    color: blueviolet;
}

.button{
    background-color: hsl(271, 75%, 78%);
    border-radius: 30px;
    border-top-style:solid;
    border-width: 1px;
}


input[type=text] {
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    background-image: url('search-512.webp');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }